[Desktop Entry]
Name=Arxk
GenericName=Terminal Emulator
Comment=Minimal GPUI-powered terminal
Exec=arxk %F
Icon=arxk
Terminal=false
Type=Application
Categories=System;TerminalEmulator;
Keywords=shell;prompt;command;commandline;cmd;
MimeType=inode/directory;x-scheme-handler/termy;
Actions=open-tab-here;

[Desktop Action open-tab-here]
Name=Open new Arxk tab here
Exec=arxk --new-tab --working-directory %f
