[Desktop Entry]
Name=Termarx
GenericName=Terminal Emulator
Comment=Minimal GPUI-powered terminal
Exec=termarx %F
Icon=termarx
Terminal=false
Type=Application
Categories=System;TerminalEmulator;
Keywords=shell;prompt;command;commandline;cmd;
MimeType=inode/directory;x-scheme-handler/termy;
Actions=open-tab-here;

[Desktop Action open-tab-here]
Name=Open new Termarx tab here
Exec=termarx --new-tab --working-directory %f
